@import url('https://fonts.googleapis.com/css?family=Calligraffitti|Open+Sans|Roboto:700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Bangers&display=swap');

body, html
{
	background:#36393f;
}
canvas
{
	width: 100%;	
	display:inline-block;
	text-align:right;
}
h1
{
	color:white;
	font-family:"Open Sans";
	text-align:center;
}
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
.side
{
	float:left;
	width:50%;
}
.side.buff
{
	padding-top:69px;
}
label
{
	color:white;
	font-family:Roboto;	
	display:block;
	padding: 10px 0 0 0;
}
textarea
{
	width:95%;
}
input, textarea
{
	font-size: 20px;
	font-family: 'Open Sans';
	padding: 5px;
}
@media only screen and (max-width: 1000px)
{
	.side
	{
		width:100%;		
	}
	.side.buff
	{
		padding-left:69px;
		padding-top:0;
	}
}
#objectionexample
{
	width: 80%;
	margin:0 auto;
	display:block;
}
#editcanvas
{
	display:none;
}
#chooseImage
{
	padding: 10px;
	color:white;
}
#resultimg
{
	display:none;
}
button
{
	background:#b9bbbe;
	outline:none;
	border:none;
	padding:10px 20px;
	font-size: 15px;
	cursor:pointer;
	color:black;
	font-family:"Open Sans";
	margin: 10px;
}
button:hover
{
	background:white;
}
.part
{
	float:left;
}
.part label
{
	text-align:center;
}